.news-page{
    
}

.news-page-col{
    
}

.news-page-title{
    color: white;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.news-page-img{
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
}
